{% autoescape off %}
Hello {{ user.get_username }},

You're receiving this email because you requested a PIN reset for your Mangi Vikoba+ account.

Please click the link below to reset your 4-digit PIN:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

This link will expire in 24 hours.

If you didn't request this PIN reset, please ignore this email. Your account will remain secure.

Important Security Tips:
- Never share your PIN with anyone
- Choose a PIN that's easy for you to remember but hard for others to guess
- Don't use obvious PINs like 1234, 0000, or your birth year

Thank you for using Mangi Vikoba+!

The Mangi Vikoba+ Team
{% endautoescape %}
